force-app/main/default/flows/Chats_Routed_to_Agents_with_the_Right_Skills_SS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>The Add Skill Requirement action is used to define one or more Skills that are needed for a piece of work, and add them to a collection which can later be used in the Route Work action.
This example shows adding a single skill requirement to a collection defined in the flow.</description>
        <name>AddSkillA</name>
        <label>Add Skill A</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;&quot;,&quot;skillId&quot;:&quot;0C55j0000004JrqCAE&quot;,&quot;skillLabel&quot;:&quot;Technical-skill&quot;,&quot;skillLevel&quot;:&quot;10&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>The Add Skill Requirement action is used to define one or more Skills that are needed for a piece of work, and add them to a collection which can later be used in the Route Work action.
This example shows adding a single skill requirement to a collection defined in the flow.</description>
        <name>AddSkillB</name>
        <label>Add Skill B</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;&quot;,&quot;skillId&quot;:&quot;0C55j0000004JrvCAE&quot;,&quot;skillLabel&quot;:&quot;Basic-Skill&quot;,&quot;skillLevel&quot;:&quot;10&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>SkillRequirements</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>The Add Skill Requirement action is used to define one or more Skills that are needed for a piece of work, and add them to a collection which can later be used in the Route Work action.
This example shows adding a single skill requirement to a collection defined in the flow.</description>
        <name>AddSkillC</name>
        <label>Add Default Skill</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>RouteChat</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;&quot;,&quot;skillId&quot;:&quot;0C55j0000004JrKCAU&quot;,&quot;skillLabel&quot;:&quot;Python&quot;,&quot;skillLevel&quot;:&quot;10&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>The Route Work action is used to input the routing requirements to Omni-Channel.
This example shows routing to a collection of Skill Requirements which were defined previously in the Flow via the Add Skill Requirements actions.</description>
        <name>RouteChat</name>
        <label>Route Chat by Skill</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N95j0000004zgZCAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K95j0000004XDSCA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>LowRC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>This example decision node looks at the Subject entered by the Customer in the pre-chat form, and uses it to determine whether to add Skill A or Skill B.</description>
        <name>AddSkillDecision</name>
        <label>Which Skill Should be Added?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>AddSkillC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Other Skills</defaultConnectorLabel>
        <rules>
            <name>SkillAOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Case.Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>End-User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillA</targetReference>
            </connector>
            <label>Subject Contains Skill A</label>
        </rules>
        <rules>
            <name>SkillBOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Case.Category__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSkillB</targetReference>
            </connector>
            <label>Subject Contains Skill B</label>
        </rules>
    </decisions>
    <description>Routes each chat to an agent with the required skills based on conditions that you define.</description>
    <environments>Default</environments>
    <interviewLabel>Chats Routed to Agents with the Right Skills SS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chats Routed to Agents with the Right Skills SS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <sourceTemplate>omnichannel_chat__SkillsChat</sourceTemplate>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AddSkillDecision</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>The chat transcript record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <description>Conversation Context Entry object(s) that will provide information from Pre-Chat fields.</description>
        <name>prechatInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ConversationContextEntry</objectType>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Skill Requirement(s) that can be added to the work being routed.</description>
        <name>SkillRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <description>Value of the Subject field in the pre-chat list.</description>
        <name>SubjectField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
