force-app/main/default/flows/Domain_checkr.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assigning_domain</name>
        <label>Assigning_domain</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>Domain_check</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>domain</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_ID</name>
        <label>Check Account ID</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Accout don&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>Account_exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>domain</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_case</targetReference>
            </connector>
            <label>Account exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Check_Domain_Exist</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.Email__c}, LEN({!$Record.Email__c}) - FIND(&apos;@&apos;, {!$Record.Email__c}))</expression>
    </formulas>
    <formulas>
        <name>domain</name>
        <dataType>String</dataType>
        <expression>LEFT({!Check_Domain_Exist}, LEN ({!Check_Domain_Exist}) - 4)</expression>
    </formulas>
    <interviewLabel>Domain_checkr {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Domain_checkr</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>domain</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_case</name>
        <label>update case</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assigning_domain</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Domain_check</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
